.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block__title {
    display: flex;
    gap: 16px;
}

.block__info {
    font-size: 16px;
}

.image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 40px;
}

.title__sub-block {
    display: flex;
    gap: 16px;
}

.title__sub-value {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 16px;
}

.title__sub-value:not(:last-child)::after {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 4px;
    background-color: #000;
}
    